i {
    font-size: 50;
}
.fa-facebook {
    color: #3b5998;
}
.fa-youtube-square {
    color: #ff0000;
}
.fa-instagram-square {
    color: #c13584;
}
.fa-github-square {
    color: #bd2c00;
}
.fa-money-bill-all {
    color: #28c101;
}